<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display All The Records</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>
    

    <div class="container">
        
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 style="text-align: center;"><%= title %></h1>
                    <br><br>
                    <table class="table">
                        <thead>
                            <th>Id</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Age</th>
                            <th>Profession</th>
                        </thead>
                        <tbody>
                            <% records.forEach (function(row) {%>
                            <tr>
                                <td> <%= row.id  %> </td>
                                <td> <%= row.FirstName  %> </td>
                                <td> <%= row.LastName  %> </td>
                                <td> <%= row.Age  %> </td>
                                <td> <%= row.Profession  %> </td>
                            </tr>
                            <%})%>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>